.label{
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
}

.input{
    border: 5px solid #000;
    font-size: 30px;
    width: 95%;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

.input.-caixa{
    height: 320px;
    padding-bottom: 15px;
}
.btn{
    display: flex;
    padding-top: 10px;
}