.section-pai{
    
    background-color:#B8B1DA;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #402319;
    
}
.section-pai.-bg2{
    background-color:#FAE4BD;
}
.section-pai.-bg3{
    background-color: #E293A9;
}
.section-pai.-bg4{
    background-color:#C5E3E3;
}
.section-pai.-form {;
    text-align: center;
}